<div class="custom-form">
  <%= form_for @company, :html => { :multipart => true } do |f| %>

    <% if @company.errors.any? %>
      <div class="well text-center" id="error_explanation">
        <h2>
          <%= pluralize @company.errors.count, "error" %> prohibited this company from being saved:
        </h2>
        <% @company.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="col-md-6">
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-users"></i></span>
        <%= f.text_field :company_name, autofocus: true, class:"col-md-6 form-control", placeholder:"Company Name*" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-ellipsis-h"></i></span>
        <%= f.text_field :tagline, class:"col-md-6 form-control", placeholder:"Company Tagline" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-picture-o"></i></span>
        <%= f.file_field :image, class:"col-md-6 form-control", placeholder:"Add Image" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-hashtag"></i></span>
        <%= f.text_field :tag_list, class:"col-md-6 form-control", placeholder:"Add Tags For Your Company" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-at"></i></span>
        <%= f.email_field :email, class:"col-md-6 form-control", placeholder:"Company Email*" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-map-signs"></i></span>
        <%= f.text_field :street_address, class:"col-md-6 form-control", placeholder:"Street Address 1" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-map-signs"></i></span>
        <%= f.text_field :street_address_2  , class:"col-md-6 form-control", placeholder:"Street Address 2" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-map"></i></span>
        <%= f.text_field :city, class:"col-md-6 form-control", placeholder:"City" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-map-o"></i></span>
        <%= f.text_field :state, class:"col-md-6 form-control", placeholder:"State" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-map-marker"></i></span>
        <%= f.telephone_field :zipcode, class:"col-md-6 form-control", placeholder:"Zipcode" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone"></i></span>
        <%= f.telephone_field :phone, class:"col-md-6 form-control", placeholder:"Phone* (Ex: 1234567890)" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-facebook"></i></span>
        <%= f.url_field :facebook, class:"col-md-6 form-control", placeholder:"Facebook" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-twitter"></i></span>
        <%= f.url_field :twitter, class:"col-md-6 form-control", placeholder:"Twitter" %>
      </div>
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-google-plus"></i></span>
        <%= f.url_field :google, class:"col-md-6 form-control", placeholder:"Google+" %>
      </div>
    </div>
    <div class="col-md-12">
      <div class="field input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-align-left"></i></span>
        <%= f.text_area :about, class:"col-md-6 form-control", placeholder:"A little about your company..." %>
      </div>
    </div>
    <div class="form-days text-center">
      <div class="form-hours col-md-3">
        <div class="field input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-clock-o"></i></span>
          <div><%= f.text_field :mon_open, class:"form-control", placeholder:"Monday Open" %></div>
          <div><%= f.text_field :mon_close, class:"form-control", placeholder:"Monday Close" %></div>
        </div>
      </div>
      <div class="form-hours col-md-3">
        <div class="field input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-clock-o"></i></span>
          <div><%= f.text_field :tues_open, class:"form-control", placeholder:"Tuesday Open" %></div>
          <div><%= f.text_field :tues_close, class:"form-control", placeholder:"Tuesday Close" %></div>
        </div>
      </div>
      <div class="form-hours col-md-3">
        <div class="field input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-clock-o"></i></span>
          <div><%= f.text_field :wed_open, class:"form-control", placeholder:"Wednnesday Open" %></div>
          <div><%= f.text_field :wed_close, class:"form-control", placeholder:"Wednnesday Close" %></div>
        </div>
      </div>
      <div class="form-hours col-md-3">
        <div class="field input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-clock-o"></i></span>
          <div><%= f.text_field :thurs_open, class:"form-control", placeholder:"Thursday Open" %></div>
          <div><%= f.text_field :thurs_close, class:"form-control", placeholder:"Thursday Close" %></div>
        </div>
      </div>
      <div class="form-hours col-md-3 col-md-offset-1">
        <div class="field input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-clock-o"></i></span>
          <div><%= f.text_field :fri_open, class:"form-control", placeholder:"Friday Open" %></div>
          <div><%= f.text_field :fri_close, class:"form-control", placeholder:"Friday Close" %></div>
        </div>
      </div>
      <div class="form-hours col-md-3">
        <div class="field input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-clock-o"></i></span>
          <div><%= f.text_field :sat_open, class:"form-control", placeholder:"Saturday Open" %></div>
          <div><%= f.text_field :sat_close, class:"form-control", placeholder:"Saturday Close" %></div>
        </div>
      </div>
      <div class="form-hours col-md-3">
        <div class="field input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-clock-o"></i></span>
          <div><%= f.text_field :sun_open, class:"form-control", placeholder:"Sunday Open" %></div>
          <div><%= f.text_field :sun_close, class:"form-control", placeholder:"Sunday Close" %></div>
        </div>
      </div>
    </div>
    <div class="actions col-md-offset-3">
      <%= f.submit "Create My Company", class:"btn btn-lg btn-default col-md-8" %>
    </div>
  <% end %>
</div>
