<div class="container show-container">
  <h3 class="well text-center">Edit your company's information by clicking on whatever you want to edit!   <%= link_to "Back to your company page", @company %></h3>
  <div class="row page-header show-header">
    <div class="company-image col-md-3 text-center"><%= image_tag @company.image.url(:large) %>
      <%= form_for @company, :html => { :multipart => true } do |f| %>
      <div class="field company-image-field">
        <%= f.file_field :image %>
      </div>
      <div class="field company-image-field">
        <%= f.submit "Upload Image"%>
      </div>
      <% end %>
    </div>
    <div class="company-name col-md-8"><h1><%= best_in_place @company, :company_name %></h1></div>
    <div class="company-tagline col-md-6"><%= best_in_place @company, :tagline %></div><br>
    <div class="row">
      <div class="company-taglist col-md-6"><h4><%= best_in_place @company, :tag_list %></h4></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default company-address">
        <div class="panel-heading"><p class="panel-title">Address</p></div>
        <div class="panel-body">
          <div class="row">
            <h5 class="col-md-3">Address:</h5><h5 class="col-md-8"><%= best_in_place @company, :street_address %></h5>
          </div>
          <div class="row">
            <h5 class="col-md-3"></h5><h5 class="col-md-8"><%= best_in_place @company, :street_address_2 %></h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">City:</h5><h5 class="col-md-8"><%= best_in_place @company, :city %></h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">State:</h5><h5 class="col-md-8"><%= best_in_place @company, :state %></h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">Zipcode:</h5><h5 class="col-md-8"><%= best_in_place @company, :zipcode %></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><p class="panel-title">Hours</p></div>
        <div class="panel-body">
          <table class="table table-hover table-condensed table-responsive">
            <th>
              <h6><strong>Day</strong></h6>
            </th>
            <th>
              <h6><strong>Opening</strong></h6>
            </th>
            <th>
              <h6><strong>Closing</strong></h6>
            </th>
            <tr>
              <td><h6>Monday</h6></td>
              <td><h6><%= best_in_place @company, :mon_open %></h6></td>
              <td><h6><%= best_in_place @company, :mon_close %></h6></td>
            </tr>
            <tr>
              <td><h6>Tuesday</h6></td>
              <td><h6><%= best_in_place @company, :tues_open %></h6></td>
              <td><h6><%= best_in_place @company, :tues_close %></h6></td>
            </tr>
            <tr>
              <td><h6>Wednesday</h6></td>
              <td><h6><%= best_in_place @company, :wed_open %></h6></td>
              <td><h6><%= best_in_place @company, :wed_close %></h6></td>
            </tr>
            <tr>
              <td><h6>Thursday</h6></td>
              <td><h6><%= best_in_place @company, :thurs_open %></h6></td>
              <td><h6><%= best_in_place @company, :thurs_close %></h6></td>
            </tr>
            <tr>
              <td><h6>Friday</h6></td>
              <td><h6><%= best_in_place @company, :fri_open %></h6></td>
              <td><h6><%= best_in_place @company, :fri_close %></h6></td>
            </tr>
            <tr>
              <td><h6>Saturday</h6></td>
               <td><h6><%= best_in_place @company, :sat_open %></h6></td>
               <td><h6><%= best_in_place @company, :sat_close %></h6></td>
            </tr>
            <tr>
              <td><h6>Sunday</h6></td>
              <td><h6><%= best_in_place @company, :sun_open %></h6></td>
              <td><h6><%= best_in_place @company, :sun_close %></h6></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><p class="panel-title">Contact</p></div>
        <div class="panel-body">
          <div class="row">
            <h5 class="col-md-3">Email:</h5><h5 class="col-md-4"><%= best_in_place @company, :email %></h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">Phone:</h5><h5 class="col-md-4"><%= best_in_place @company, :phone %></h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">Facebook:</h5><h5 class="col-md-4"><%= best_in_place @company, :facebook %></h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">Twitter:</h5><h5 class="col-md-4"><%= best_in_place @company, :twitter %></h5>
          </div>
          <div class="row">
            <h5 class="col-md-3">Google+:</h5><h5 class="col-md-4"><%= best_in_place @company, :google %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><p>About Us</p></div>
    <div class="panel-body company-about"><p><%= best_in_place @company, :about, as: :textarea %></p></div>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to "Delete My Page", company_path, class: "btn btn-danger btn-lg btn-block delete-button", method: :delete, data: {confirm: "Do you really want to delete this company page?"} %>
    <% end %>
  </div>
</div>
