<div class="container show-container">
  <% if current_user.id == @company.user.id %>
    <h3 class="well text-center">This is your business page! <%= link_to "You can edit it here.", edit_company_path(@company) %></h3>
  <% end %>
  <div class="row page-header show-header">
    <div class="company-image col-md-3"><%= image_tag @company.image.url(:large) %></div>
    <div class="company-name col-md-8"><h1><%= @company.company_name %></h1></div>
    <div class="company-tagline col-md-6"><%= @company.tagline %></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default company-address">
        <div class="panel-heading"><p class="panel-title">Address</p></div>
        <div class="panel-body">
          <div class="row">
            <h4 class="col-md-3">Address:</h4><p class="col-md-8"><%= @company.street_address %></p>
          </div>
          <div class="row">
            <h4 class="col-md-3"></h4><p class="col-md-8"><%= @company.street_address_2 %></p>
          </div>
          <div class="row">
            <h4 class="col-md-3">City:</h4><p class="col-md-8"><%= @company.city %></p>
          </div>
          <div class="row">
            <h4 class="col-md-3">State:</h4><p class="col-md-8"><%= @company.state %></p>
          </div>
          <div class="row">
            <h4 class="col-md-3">Zipcode:</h4><p class="col-md-8"><%= @company.zipcode %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><p class="panel-title">Hours</p></div>
        <div class="panel-body text-center">
          <p><%= @company.hours %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><p class="panel-title">Contact</p></div>
        <div class="panel-body">
          <div class="row">
            <h4 class="col-md-4">Email:</h4><p class="col-md-4"><%= @company.email %></p>
          </div>
          <div class="row">
            <h4 class="col-md-4">Phone:</h4><p class="col-md-4"><%= @company.phone %></p>
          </div>
          <hr>
          <a href="<%= @company.facebook %>" id="facebook" class="col-md-3 col-md-offset-2"><i class="fa fa-3x fa-facebook-square"></i></a>
          <a href="<%= @company.twitter %>" id="twitter" class="col-md-3"><i class="fa fa-3x fa-twitter-square"></i></a>
          <a href="<%= @company.google %>" id="google" class="col-md-3"><i class="fa fa-3x fa-google-plus-square"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><p>About Us</p></div>
    <div class="panel-body company-about"><p><%= @company.about %></p></div>
  </div>
</div>
